<!DOCTYPE html>
html(lang="ru-Ru")

	include includes/head.jade

	body
		.wrapper
			nav.top_nav
				.main-content.clearfix
					a(href="#").top_nav__logo
						img(src="/img/logo_temp.png" alt="templateMy").top_nav__logoimg
						img(src="/img/logo_temp__hover.png" alt="templateMy").top_nav__logoimgh
						span.hide templateMy
					ul.main-content.menu_top
						li.menu_top__item
							.item__link__wrapper
								a(href="#").item__link Home
						li.menu_top__item
							.item__link__wrapper
								a(href="#").item__link Price
						li.menu_top__item
							.item__link__wrapper
								a(href="#").item__link MenuIn
								img(src="/img/decorate/botom.svg").menu_down__img
							ul.menu_top__second
								li.second__item
									.second__item_wrapper
										a(href="#").second__link second
								li.second__item
									.second__item_wrapper
										a(href="#").second__link second
								li.second__item
									.second__item_wrapper
										a(href="#").second__link second
										img(src="/img/decorate/botom.svg").menu_next__img
									ul.menu_top__therd
										li.therd__item
											.therd__item_wrapper
												a(href="#").therd__link therd
										li.therd__item
											.therd__item_wrapper
												a(href="#").therd__link therd therd therdtherdtherdtherdtherd
										li.therd__item
											.therd__item_wrapper
												a(href="#").therd__link therd
								li.second__item
									.second__item_wrapper
										a(href="#").second__link second

						li.menu_top__item
							.item__link__wrapper
								a(href="#").item__link Contacts
						li.menu_top__item
							.item__link__wrapper
								a(href="#").item__link About
			.main-content.clearfix
				.main_tabs

	include includes/footer.jade
